<div id="page-content">
    <p id="notice">

      </p>

      <%= render 'articles/article'%>

         <center>
          
          <%= link_to 'New Article', new_article_path, class:"btn btn-primary text-white" %> &nbsp; &nbsp;
          <%= link_to 'Back to home', root_path ,class:"btn btn-success text-white" %>
        </center>

  </div>

