<h1 class="text-center mt-4"> CREATE CATEGORIES	</h1>

<div class="container">  
  <div class="row-2 d-flex justify-content-center">
    <div class="col-10">
      <%= render 'form'%>
    </div>
</div>
</div>
  <div class="actions d-flex justify-content-center">
    <%= link_to '[ Cancle And Return to Category Listing ]', categories_path ,class:"btn text-success " %>
  </div>