  <br>
  <br><br>
  <footer class="bg-light text-center text-lg-start",id="footer">
    <!-- Copyright -->
    <div class="text-center p-4 , text-white" style="background-color: rgba(0, 0, 0, 0.7);">
      © 2020 Copyright:
      <a class="text-white" href="https://www.linkedin.com/in/harsh-patel-776198212">H@rsh_P@tel</a>
    </div>
    <!-- Copyright -->
  </footer>